exportPattern("^[[:alpha:]]+")
#useDynLib(causality, cf_pearson_correlation)
#useDynLib(causality, cf_partial_correlation)
#useDynLib(causality, cf_fisher_transformation_z_score)
#useDynLib(causality, cf_is_independent)
useDynLib(causality, cf_topological_sort)
useDynLib(causality, cf_dag_to_pattern)
useDynLib(causality, cf_aggregate_cgraphs)
useDynLib(causality, cf_meek_rules)
useDynLib(causality, cf_structural_hamming_distance)